body {
  background-color: #ecf1ef;
}

main,
header {
  display: flex;
  flex-direction: column;
  position: relative;
}

header > img {
  max-width: 5vw;
  max-height: 10vh;
  position: absolute;
  left: 10%;
  bottom: 1px;
}

header {
  background-color: #bcc0bf;
}

header > h1 {
  align-self: center;
  font-size: 4rem;
  margin: 2vh 0 3vh 0;
}

header > div {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 1vh;
  color: #4b4c4c;
}

header p {
  margin: 0;
  padding: 0;
}

#githubLogo {
  width: 1.5em;
  height: auto;
}

#gameboard {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  align-content: center;
}

#gameboard > * {
  display: flex;
  border: 2px solid #4b4c4c;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.field {
  background-color: #f1ecee;
  font-size: 6rem;
  transition: 1s;
}

#winner {
  margin: 2vh 0;
  align-self: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 1vh;
}

#newGame {
  flex-grow: 0;
  flex-basis: auto;
  font-weight: bold;
  padding: 10px;
  align-self: center;
}

.end {
  background-color: #f1ecee;
  transition: 1s;
  border-radius: 10px;
  border: 1px solid #d1c0c7;
}

#gameboard > :nth-child(1),
#gameboard > :nth-child(2),
#gameboard > :nth-child(3) {
  border-top: none;
}

#gameboard > :nth-child(1),
#gameboard > :nth-child(4),
#gameboard > :nth-child(7) {
  border-left: none;
}

#gameboard > :nth-child(3),
#gameboard > :nth-child(6),
#gameboard > :nth-child(9) {
  border-right: none;
}

#gameboard > :nth-child(7),
#gameboard > :nth-child(8),
#gameboard > :nth-child(9) {
  border-bottom: none;
}

#gameboard p {
  margin: 0;
  padding: 0;
}

.players {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  justify-content: space-around;
  justify-content: center;
  gap: 2vw;
  font-size: 2rem;
  font-weight: bold;
  background-color: #d4d8d7;
  margin-bottom: 2vh;
  align-items: center;
}

#player1score {
  justify-self: center;
}

#player2score {
  justify-self: center;
}

#player1Dialog {
  display: grid;
  justify-self: center;
  justify-content: end;
}

#player1Dialog > :nth-child(1):hover {
  background-color: #ecf1ef;
}

#player2Dialog > :nth-child(1):hover {
  background-color: #ecf1ef;
}

#player1Dialog > :nth-child(2),
#player2Dialog > :nth-child(2) {
  display: grid;
  justify-self: center;
}

#player2Dialog {
  display: grid;
  justify-self: center;
  justify-content: start;
}

dialog {
  max-width: 40%;
}

form > p {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 5px;
  justify-items: center;
}

form > div {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

form {
  display: grid;
  grid-template-rows: repeat(1fr);
  gap: 3vh;
  width: clamp(100px, 20%, 900px);
  font-size: 2rem;
}
